<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="copy">
	<!-- 模态框（Modal） -->
	<div class="modal fade bs-model-lg" id="uploadDatasources" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg=primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">数据源导入</h4>
				</div>
				
				<div class="modal-body">
					<form id="ffImport" method="post">
	                    <div title="Excel导入操作" style="padding: 5px">
							<input id="uploadDatasource" name="uploadDatasource" type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></input>
	                    </div>
	                </form>
					<div id="uploadDatasource-alert-area"></div>
                    <div class="table table-responsive"><table id="uploadDatasource-table-area"></table></div>
                    <div class="table table-responsive"><table id="uploadDatasource-table-errorData"></table></div>
				</div>
				
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="SaveImport()">下载</button> -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- table -->
	<div class="table table-responsive">
		<!-- 数据源 -->
		<h4>
	        <b>数据源</b>
	        <small>个人账户所有的数据源列表，为分类单元提供数据支持</small>
	    </h4>	
	    <!-- 文件操作 -->
	    <h4>
	        <b>文件操作</b>
	        <a class="btn btn-primary btn" data-toggle="modal" onclick="initFileInputForDatasource('uploadDatasource', '/console/datasource/rest/upload/', 'datasource_table', '/console/datasource/rest/uploaded/')" data-target="#uploadDatasources">
		        <i class="fa fa-upload"></i> <span>上传</span>
		    </a>
		    
		    <a class="btn btn-primary btn hidden"  th:href="@{/console/datasource/export}">
		        <i class="fa fa-download"></i> <span>下载</span>
		    </a>
	    </h4>
	    <!-- 本次上传的数据源 -->
		<h4>
			<b>本次上传的数据源：</b>
		</h4>	
	<!-- 个人taxaset列表展示 -->
		<table
			id="datasource_table"
	        data-locale="zh-CN"
	        data-classes="table table-hover table-condensed"
	        data-toggle="table"
	        th:attr="data-url=@{/console/datasource/rest/uploaded/}"	
	        data-pagination="true"
	        data-side-pagination="server"
	        data-page-list="[10, 20, 30, 50, 100]"
	        data-search="true"
	        data-show-columns="true"
	        data-show-toggle="true"
	        data-toolbar="#toolbar"
	        data-show-export="false"
	        data-show-refresh="true"
	        data-export-types="['excel', 'txt']">
	        <thead>
	        <tr>
			<!-- <th data-field="select" data-align="center" data-sortable="false"></th> -->
				<th data-field="b.serialNum" data-align="left" data-sortable="true">序号</th>
				<th data-field="title" data-align="center" data-sortable="true">数据源名称</th>
	            <th data-field="dType" data-align="center" data-sortable="true">数据源类型</th>
	            <th data-field="version" data-align="center" data-sortable="true">版本</th>
	            <th data-field="creater" data-align="center" data-sortable="true">创建人</th>
	            <th data-field="createtime" data-align="center" data-sortable="true">创建时间</th>
	            <th data-field="inputer" data-align="center" data-sortable="true">录入人</th>
	            <th data-field="inputtime" data-align="center" data-sortable="true">录入时间</th>
	            <th data-field="dAbstract" data-align="center" data-sortable="true">摘要</th>
	            <th data-field="dKeyword" data-align="center" data-sortable="true">关键字</th>
	            <th data-field="dLink" data-align="center" data-sortable="true">链接</th>
	            <th data-field="dVerifier" data-align="center" data-sortable="true">审核专家</th>
	            <th data-field="info" data-align="center" data-sortable="true">说明/备注</th>
	            <!-- <th data-field="edit" data-align="center" data-sortable="false">操作</th> -->
	        </tr>
	        </thead>
	    </table>
	</div>
</th:block>
</html>